h1 {
  color: teal;
  text-align: center;
  margin: 4px;
}

.container {
  max-width: 700px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.result {
  text-align: center;
  font-size: 1.75rem;
}

.drawing {
  position: relative;
}

.floor {
  width: 250px;
  height: 10px;
  background: black;
}

.pole {
  width: 10px;
  height: 350px;
  background: black;
  margin-left: 120px;
}

.hanger {
  width: 200px;
  height: 10px;
  background: black;
  margin-left: 120px;
}

.rope {
  width: 10px;
  height: 50px;
  background: black;
  position: absolute;
  top: 0;
  right: 0;
}

.head {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  border: 10px solid black;
  position: absolute;
  top: 50px;
  right: -30px;
}

.body {
  width: 10px;
  height: 110px;
  background: black;
  position: absolute;
  top: 119px;
  right: 0;
}

.right-arm {
  width: 100px;
  height: 10px;
  background: black;
  position: absolute;
  top: 150px;
  right: -100px;
  rotate: -30deg;
  transform-origin: left bottom;
}

.left-arm {
  width: 100px;
  height: 10px;
  background: black;
  position: absolute;
  top: 150px;
  right: 10px;
  rotate: 30deg;
  transform-origin: right bottom;
}

.right-leg {
  width: 100px;
  height: 10px;
  background: black;
  position: absolute;
  top: 220px;
  right: -90px;
  rotate: 60deg;
  transform-origin: left bottom;
}

.left-leg {
  width: 100px;
  height: 10px;
  background: black;
  position: absolute;
  top: 220px;
  right: 0;
  rotate: -60deg;
  transform-origin: right bottom;
}

.word {
  display: flex;
  gap: 0.5rem;
  font-size: 3rem;
  font-family: monospace;
  font-weight: bold;
  text-transform: uppercase;
}

.word > span {
  border-bottom: 7px solid black;
}

.keyboard {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(60px, 1fr));
  gap: 0.5rem;
}

.keyboard > button {
  width: 100%;
  background: none;
  font-size: 2rem;
  padding: 0.5rem;
  aspect-ratio: 1/1;
  text-transform: uppercase;
  cursor: pointer;
  color: black;
  border: 3px solid black;
  font-weight: bold;
}

.keyboard > button.active {
  background-color:  hsl(200, 100%, 50%);
  color: white; 
}

.keyboard > button.inactive {
  opacity: 0.3;
}

.keyboard > button:hover:not(:disabled),
.keyboard > button:focus:not(:disabled) {
  background-color:  hsl(200, 100%, 50%);
}
