h1 {
  color: teal;
  text-align: center;
  margin: 4px;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.result {
  text-align: center;
  font-size: 1.75rem;
}

.drawing {
  position: relative;
}

.floor {
  width: 250px;
  height: 10px;
  background: black;
}

.pole {
  width: 10px;
  height: 375px;
  background: black;
  margin-left: 120px;
}

.hanger {
  width: 200px;
  height: 10px;
  background: black;
  margin-left: 120px;
}

.rope {
  width: 10px;
  height: 50px;
  background: black;
  position: absolute;
  top: 0;
  right: 0;
}
